body {
    font-family:Arial, Helvetica, sans-serif;
}

.grand-wrapper {
    margin: 0;
    max-width: 100%;
}

/* Header, Text input and Search button */
.title-search-wrapper {
    max-width: 100%;
}

.header {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

/* Text input and Search button */
.search-wrapper {
    max-width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.search-txt {
    width: 60%;
    height: 4vh;
}
.search-btn {
    width: 30%;
}

.cards-grand-wrapper {
    max-width: 100%;
    /* display: flex;
    align-items: center; */
}

/* Current temp and Emote card wrap */
.emote-current-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp-emote-card {
    margin: 10px;
    border: solid #000000;
    border-width: 1px;
    padding: 10px 13px;
    width: 65%;
    text-align: center;
    /* height: 2vh; */
}
.card-current {
    margin: 5px;
    border: solid #000000;
    border-width: 1px;
    padding: 5px;
    width: 80%;
}

.tricard-wrapper {
    max-width: 100%;
    display: flex;
}

.card-one, .card-two, .card-three {
    margin: 5px 10px;
    border: solid #000000;
    border-width: 1px;
    padding: 5px;
    width: 60%;
}
h1, h2, h4, h6 {
    margin: 0;
}

.emote-dayofweek-card {
    border: solid #000000;
    border-width: 1px;
    padding: 10px 13px;
    width: 90%;
    text-align: center;
    /* height: 2vh; */
}


/* MEDIA QUERIES */

/* Tablet and larger */
@media only screen and (min-width: 768px) {

    .emote-current-wrapper {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .temp-emote-card {
        width: 45%;
    }
    .card-current {
        width: 35%;
    }
    .emote-dayofweek-card {
        margin: 10px 20px;
    }
}


/* Desktop and larger */
@media only screen and (min-width: 1024px) {

    .title-search-wrapper {
        display: flex;
    }
    .header {
        width: 40%;
    }
    .search-wrapper {
        width: 75%;
    }
    .search-txt {
        width: 75%;
    }
    .search-btn {
        width: 20%;
    }

    .emote-current-wrapper {
        justify-content: center;
    }
    .temp-emote-card {
        width: 35%;
    }
    .card-current {
        width: 30%;
    }

    .tricard-wrapper {
        justify-content: center;
    }
    .card-one, .card-two, .card-three {
        margin-top: 10px;
        width: 22%;
    }

    .emote-dayofweek-card {
        display: flex;
        justify-content: center;
        margin: 10px 160px;
        width: 65%;
    }

}