body {
    font-family:Arial, Helvetica, sans-serif;
}

.grand-wrapper {
    margin: 0;
    max-width: 100%;
}

/* Header, Text input and Search button */
.title-search-wrapper {
    max-width: 100%;
}

.header {
    width: 100%;
}

/* Text input and Search button */
.search-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}
.search-txt {
    width: 60%;
    height: 4vh;
}
.search-btn {
    width: 30%;
}

.cards-grand-wrapper {
    max-width: 100%;
    /* display: flex;
    align-items: center; */
}

/* Current temp and Emote card wrap */
.emote-current-wrapper {
    max-width: 100%;
}

.temp-emote-card {
    border: solid #000000;
    border-width: 1px;
    padding: 10px 13px;
    width: 20%;
    text-align: center;
    /* height: 2vh; */
}
.card-current {
    margin: 0;
    border: solid #000000;
    border-width: 1px;
    padding: 5px;
    width: 20%;
}

.tricard-wrapper {
    max-width: 100%;
    /* display: flex;
    justify-content: space-around; */
}

.card-one, .card-two, .card-three {
    margin: 0;
    border: solid #000000;
    border-width: 1px;
    padding: 5px;
    width: 15%;
}
h1, h2, h4, h6 {
    margin: 0;
}

.emote-dayofweek-card {
    border: solid #000000;
    border-width: 1px;
    padding: 10px 13px;
    width: 45%;
    text-align: center;
    /* height: 2vh; */
}