/* Browser Resets */
h1, h2, h4, h6 {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: repeating-linear-gradient(#F0A202, #F18805, #D95D39, #0E1428, #7B9E89);
}

.app {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.content {
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.title {
    text-align: center;
}

/* Text input and Search button */
.search-bar {
    display: flex;
    gap: .5em 2em;
    flex-wrap: wrap;
}

.search {
    display: flex;
    align-items: center;
}

.search-start {
    flex-direction: column;
    gap: 2em;
}

.search-bar-start {
    flex-direction: column;
    gap: 3em;
}

.search-txt {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}
.search-btn {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* Current temp and Emote card wrap */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emote-card {
    border: 1px solid #000000;
    padding: .5em;
    text-align: center;
    background: #7B9E89;
    color: lightgoldenrodyellow;
}
.card-current {
    border: 1px solid #000000;
    padding: .5em;
}

.cards {
    /* display: flex;
    justify-content: center;
    gap: 1em; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

.card {
    border: 1px solid #000000;
    margin-bottom: 0.5em;
    padding: .5em;
    background: lightgoldenrodyellow;
}

.footer-content {
    border: 1px solid #000000;
    text-align: center;
    padding: .5em;
}

.hero {
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;
}


.footer-content {
    display: flex;
    justify-content: center;
}


/* Tablet and larger */
@media only screen and (min-width: 768px) {
    .hero {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .emote-card {
        padding: 2em;
    }
    .card-current {
        padding-right: 4em;
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 1em;
    }
    .footer-content {
        margin: 10px 20px;
    }

    .search-start > .search-txt {
        width: 80%;
        max-width: 400px;

    }

    .search-start > .search-btn {
        width: 30%;
        max-width: 200px;
    }
}


/* Desktop and larger */
@media only screen and (min-width: 1024px) {
    .search-btn {
        padding-right: 1em;
        padding-left: 1em;
    }


    .search-start > .search-txt {
        width: 80%;
        max-width: 400px;
    }

    .search-start > .search-btn {
        width: 30%;
        max-width: 200px;
    }
}